    <h2>Delivery Time</h2>
    <div class="field">
      <%= f.label :delivery_date %><br>
      <%= f.date_select :delivery_date %>
    </div>
    <div class="field">
      <%= f.label :delivery_time %><br>
      <%= f.time_select :delivery_time %>
    </div>